body {
  font-family: 'Lato', sans-serif; 
  line-height: 2;
  font-size: 16px;
}
html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::before, *::after{
  box-sizing: inherit;
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}
a img{
  width: 225px;
  height:60px;
}

.site-header.inicio {
  background-image: url(../img/header.jpg);
  background-position: center center;
  background-size: auto;
  height: 80vh;
  min-height: 60rem;
  
}
.site-header{
  background-color:#333333;
}
.contenido-header {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contenido-header h1{
  color: #ffffff;
  padding-bottom: 2rem;
  max-width: 70rem;
  line-height: 2;
}
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}
.navegacion a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.navegacion a:hover {
  color: #71b100;
}
.navegacion a:last-of-type {
  margin: 10;
}
.encabezado{
  font-weight: 300;
  text-align: center;
}
.iconos-nosotros{
  display: flex;
  justify-content: space-between
}
.iconos{
  flex-basis: calc(33.3% - 1rem);
  text-align: center;
}
.mayusculas{
  text-transform: uppercase;
  
}
h1 {
  font-size: 4rem;
}
h2{
  font-size: 3.6rem;
}
h3{
  font-size: 2.5rem;
}
h4{
  font-size: 2.6rem;
}
img{
  max-width:100%;
}
.seccion{
  margin-top:20px;
  margin-bottom: 20px;
}
.fw-300{
  font-weight: 300;
  text-align: center;
}
.contenedor-anuncio{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  
}
.anuncio{
  flex-basis: calc(33.3% - 1rem);
  border: 0.1rem solid #b5b5b5 ;
  background: #f5f5f5;
  margin-bottom: 2rem;
}
.contenido-anuncio{
  padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p{
  margin:0;
}
.precio{
  color:#71b100;
  font-weight: 700;
}
.ver-todas{
  display:flex;
  justify-content: flex-end;
}

.iconos-anuncios{
  list-style:none;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  max-width: 50rem;
  flex:1;
}
.iconos-anuncios li{
  display: flex;
}
.iconos-anuncios li img{
  margin-right: 2rem;
}
.boton{
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  padding: 1rem 3rem;
  margin-top: 3rem;
  display: inline-block;
  border: none;
  text-align: center;
}
.btn-naranja{
  background-color: #e08709;
}
.btn-verde{
  background-color: #71b100;
}
.block{
  display: block!important;

}
.fondo-contacto{
  background-image: url(../img/encuentra.jpg);
  background-position: center center;
  background-size: cover;
  height: 40rem;
  display: flex;
  align-items:center;

}
.contenido-contacto{
  flex:1;
  color:#ffffff;
  margin: 10rem
}

.contenido-contacto p{
  font: size 1.8rem;
}
.inferior{
  display:flex;
  justify-content:space-between;
}
.inferior .blog{
  flex-basis:60%;
}
.inferior .testimoniales{
  flex-basis: 40%;
  margin-left:3rem
}
.entrada-blog{
  display: flex;
  justify-content: space-between;
  margin-bottom:2rem;
}
.entrada-blog :last-of-type{
  margin-bottom: 0;
}
.entrada-blog .imagen-blog{
  flex-basis:150%;
  
  margin-right:5rem;

}
.entrada-blog .texto-blog{
  flex-basis: calc(60%-2rem)
}
.texto-blog a{
  color: #000000;
  text-decoration: none
}
.texto-blog h4{
  margin:0;
  line-height:1.4;
}
.texto-blog h4::after{
  content:"";
  display:block;
  width:35rem;
  height:1rem;
  background-color:#71b100;
  margin-top:1rem
}
.texto-blog em{
  color:#e08709
}
.testimonio{
  background-color:#71b100;
  font-size:2.4rem;
  padding: 2rem;
  color: white;
  border-radius:3rem
}
.testimonio p{
  text-align:right;

}
.testimonio blockquote::before{
  content:" ";
  background-image: url(../img/comilla.svg);
  width: 5.5rem;
  height: 5.5rem;
  position:absolute;
  left:-1.5rem;
}
.testimonio blockquote{
  position:relative;
  padding-left: 5rem;
  font-weight: 300;
}
.seccion-footer{
  background-color: #333333;
  margin: 0;
}
.contenedor-footer{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.derechos{
  margin: 0;
  color:#ffffff;
}
.contenido-nosotros{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.texto-nosotros blockquote{
  font-weight: 700;
  font-size: 20px;
  margin: 0;
  padding: 10px 0 30px 0;
}

.texto-nosotros p{
  text-align: justify;
}
.resumen-propiedad{
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.contenido-centrado{
  max-width:80rem;
}
label{
  display: block;
}